version: "3.8"

services:
  rabbitmq:
    image: registry.cn-hangzhou.aliyuncs.com/library/rabbitmq:3.13-management
    container_name: rabbitmq-${ENV}
    hostname: rabbitmq-${ENV}

    ports:
      - "${AMQP_PORT}:5672"
      - "${MGMT_PORT}:15672"

    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_VHOST}

    volumes:
      - rabbitmq_data_${ENV}:/var/lib/rabbitmq
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      # - ./rabbitmq/definitions.json:/etc/rabbitmq/definitions.json

    restart: always

volumes:
  rabbitmq_data_local:
  rabbitmq_data_test:
  rabbitmq_data_prod:
